MQTT_BROKER=tcp://localhost:1883
MQTT_USER=
MQTT_PASSWORD=
MQTT_TOPIC_LEVEL=water_tank/level
MQTT_TOPIC_PRESSURE=water_tank/pressure
METRICS_ADDR=:2112

TUYA_DEVICE_ID=your_device_id
TUYA_DEVICE_SECRET=your_device_secret
TUYA_HOST=m1.tuyacn.com
TUYA_PORT=8883

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
